.aiCard {
  position: relative;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  gap: 16px;
  padding: 18px 20px;
  border-radius: 22px;
  background: linear-gradient(135deg, #1f1f23, #2c2c34);
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.aiCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.35);
}

/* glow animation */

.aiCard::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(91, 95, 199, 0.25),
    transparent
  );
  animation: aiGlow 6s linear infinite;
}

@keyframes aiGlow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* icon */

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
}

.aiCard h3 {
  margin: 0px;
}

.content_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* text */

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content h3 {
  font-size: 16px;
  font-weight: 600;
}

.content p {
  font-size: 13px;
  opacity: 0.7;
  margin: 0px;
}

/* carousel */

.carousel {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  min-height: 20px;
}

.carousel span {
  color: #88888891;
  display: inline-block;
  animation: slideBanner 0.5s ease;
}

@keyframes slideBanner {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.ai_image {
  width: 50px;
}
